/* #outer{ */
    /* height:200px; */
    /* width: 70px;
    border:2px solid black ;
    margin-left:55px;
}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    

}
#otr{
    visibility: hidden;
}
#otr:hover{
    visibility: visible;
}
.stick{
    height: 400px;
    width: 4px;
    border: 1px solid black;
    background-color: grey;
    margin-left:90px;

}
.point1{
    height: 20px;
    width: 120px;
    border: 2px solid black;
    margin-left: 30px;
    background-color:grey;

} */
/* .point2{
    height: 20px;
    width: 180px;
    border: 2px solid black;
    background-color:grey;

} */

/* .card{
    width:150px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 5px 7px black;
    transition: 1s;

} 
img{
    width: 120px;
}

.card:hover{
    box-shadow: 4px 9px 15px red;
} */



#outer{
    height: 500px;
    width: 500px;
    background-color: yellow;
    border-radius: 50%;

    
}
.eye{
    height: 75px;
    width: 75px;
    background-color: black;
    display: inline-block;
    margin: 100px 0px 0px 125px;
    border-radius: 50%;

}
#mouth{
     height: 50px;
    width: 200px;
    background-color: red;
    margin: 50px 0px 0px 150px;
    border-bottom-left-radius: 40px;
     border-bottom-right-radius: 40px;
    
}
#nose{
    height: 100px;
    width: 40px;
    background-color:brown;
    border-radius: 50% 50% 5px 5px ;
    margin: 50px 0px 0px 230px ;
}

.eye:hover{
    box-shadow: 2px 2px 5px brown;
    background-color: white;
    transition-duration: 1s;

}
